<div class="container">
  <h1>Edit Item:</h1>
  <div class="row">
    <div class="col-sm-1">
      <ul>

        <li ng-repeat="picture in dessert.pictures">
          {{picture.default}}
          <img class="tiny-image" ng-src="{{picture.picture_url}}" ng-click="setImage(picture.picture_url)">
          <a ng-click="setDefault(picture.id)" class="nav-link clickable">set default</a>
          <a ng-click="deletePicture(picture.id)" class="nav-link clickable">delete pic</a>
        </li>

      </ul>
    </div>

    <div class="col-sm-7">
      <img class="full-image" ng-src="{{mainImageUrl}}"></a>
    </div>
    <div class="col-sm-4 edit-form">
      <form ng-submit="updateItem()">
        Item Name:<br>
        <input type="text" name="name" ng-model ="dessert.name"><br>
        Category:<br>
        <input type="text" name="category" ng-model ="dessert.category"><br>
        Price:<br>
        <input type="text" name="price" ng-model ="dessert.price"><br>
        Ingredients: <small>allergen alert</small><br>
        <input type="text" name="ingredients" ng-model ="dessert.ingredients"><br>
        Description:<br>
        <textarea name="descriptions" ng-model ="dessert.description"></textarea><br>
        <input type="checkbox" ng-model="dessert.disable">Disable viewing of item
        <input type="submit" value="Save Changes">
      </form>
      <a ng-click="uploadPicture()" class="nav-link clickable">Upload Picture</a>
    </div>
  </div>
</div>
