<div class="container translucent_background">
  <h1>Edit Item:</h1>
  <div class="row">
    <div class="col-sm-1">
      <ul>
        <li ng-repeat="picture in dessert.pictures">
            <img class="tiny-image" ng-src="{{picture.picture_url}}" ng-click="setImage(picture.picture_url)">
        </li>
      </ul>

    </div>
    <div class="col-sm-7">
      <img class="full-image" ng-src="{{mainImageUrl}}"></a>
    </div>
    <div class="col-sm-4">

      <form ng-submit="updateItem()">
        Item Name:<br>
        <input type="text" name="name" ng-model ="dessert.name"><br>
        Category:<br>
        <input type="text" name="category" ng-model ="dessert.category"><br>
        Price:<br>
        <input type="text" name="price" ng-model ="dessert.price"><br>
        Ingredients: <small>allergen alert</small><br>
        <input type="text" name="ingredients" ng-model ="dessert.ingredients"><br>
        Description:<br>
        <textarea name="descriptions" ng-model ="dessert.description"></textarea><br>
        <input type="submit" value="Update">
      </form>
    </div>
  </div>
</div>
