<div class='container'>
  <h2>Log in</h2>

  resource, as: resource_name, url: session_path(resource_name)<br>

  <div ng-controller="ExampleController">
    <form novalidate class="simple-form">
      E-mail: <input type="email" ng-model="admin.email" /><br />
      Password: <input type="password" ng-model="admin.password" /><br />
      <input type="button" ng-click="reset()" value="Reset" />
      <input type="submit" ng-click="update(user)" value="Log In" />
    </form>
  </div>

</div>


