/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


.background {
  background-image:url('/assets/countertop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:  fixed;
  background-color: #e0d8c9;
}

.sample_image {
  margin-top: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.opaque_background {
  background-image:url('/assets/opaque_box_single.png ');
}

.dessert_feature {
  padding: 15px;
}

.dessert_list {
  /*background-image:url('/assets/opaque_box_single.png ');*/
  /*background-repeat: no-repeat;*/
  width: 150px;
  height: 165px;
  margin: 10px;
  float: left;
}

.container {
  max-width: 515px;
  margin-right: auto;
  margin-left: auto;
}
