/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


.background {
  background-image:url('countertop.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  /*background-color: ADD A COLOR*/
}

.dessert_list {
  background-image:url('opaque_box.png');
  margin: 10px;
  float: left;
}

.container {
  width: 425px;
  margin-right: auto;
  margin-left: auto;
}
