<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>Tatiana's Bakery</h1>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="nav-links" class="nav navbar-nav navbar-right" ng-controller="NavbarCtrl">
        <li><a ng-click="viewHome()" class="clickable">Home</a></li>
        <li><a ng-click="viewDesserts()" class="clickable">Desserts</a></li>
        <li><a ng-click="viewAbout()" class="clickable">About</a></li>
        <li><a ng-click="viewContact()" class="clickable">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <h1>About Us</h1>
  <div class="jumbotron pale-background">
    <p>Tatiana's Bakery is an independent shop that specializes in fine Macedonian pastries, creating gourmet desserts that the whole family will love. Catering is available for parties and specialty events.</p>
  </div>
</div>
