<div class="container img-container">
  <div class="jumbotron img-text">
    <p>Nulla qui in omnis. Optio consequatur error libero qui voluptas. Praesentium tenetur sed temporibus accusantium ipsam. Numquam aliquid repudiandae ut voluptates error quia. Et nihil illum. Omnis quia est voluptas provident reiciendis eveniet. Repudiandae harum sed veniam. Qui nisi placeat quia qui. Harum molestiae ut. Sit qui ab deserunt odit aut et libero.</p>
    <p>Aliquam ipsum voluptate et omnis et consequatur enim. Ea perspiciatis delectus nihil dolore sunt accusamus commodi. Omnis adipisci est ipsam a consequatur impedit ut. Saepe enim quam perspiciatis quae doloribus iure. Id voluptatibus debitis omnis. Recusandae enim sed. Veniam laudantium porro eveniet.</p>
  </div>
</div>
