
<p>Browse our selection for delivery in the Chicagoland area.</p>

<%@desserts.each do |dessert|%>
  <div class="dessert_list">
    <%=dessert.name%></br>
    <%=image_tag dessert.pictures[0].picture_url, size: "120"%>
  </div>
<%end%>