<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>Tatiana's Bakery</h1>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="nav-links" class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="/#/desserts">Desserts</a></li>
        <li><a href="/#/about">About</a></li>
        <li><a href="/#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class "row">
    <div class="col-sm-12">
      <div class="pull-right admin-nav" ng-controller="SessionCtrl">
        <a ng-click="manageDesserts()" class="clickable">Manage Items</a>
        <a ng-click="editCategories()" class="clickable">Edit Categories</a>
        <a role="presentation" ng-click="logOut()" class="clickable">Logout</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8" ng-controller="AdminDessertNewCtrl">
      <h2>Create a New Item:</h2>
      <form class="shift-right" ng-submit="createItem()">
        Item Name:<br>
        <input type="text" name="name" ng-model ="item.name"><br>
        Category:<br>
        <input type="text" name="category" ng-model ="item.category"><br>
        Price:<br>
        <input type="text" name="price" ng-model ="item.price"><br>
        Ingredients: <small>allergen alert</small><br>
        <input type="text" name="ingredients" ng-model ="item.ingredients"><br>
        Description:<br>
        <textarea name="descriptions" ng-model ="item.description"></textarea><br>
        <input type="submit" value="Create">
      </form>
    </div>
  </div>
</div>
