<div class='dessert_feature opaque_background'>

<b><center><%=@dessert.name%></center></b>

<center><%=image_tag @dessert.pictures[0].picture_url, size: "260"%></center>


<p><%=@dessert.description%></p>
</div>