.dessert-listing.ng-enter,
.dessert-listing.ng-leave,
.dessert-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.dessert-listing.ng-enter,
.dessert-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.fadein.ng-enter-stagger {
  transition-delay: 0.1s ;
    -webkit-transition-delay: 0.01s ;
  /*
    FROM THE DOCUMENTATION:
    In case the stagger doesn't work then these two values must be set
    to 0 to avoid an accidental CSS inheritance.
  */
  transition-duration: 0s ;
    -webkit-transition-duration: 0s ;
}

.dessert-listing.ng-move.ng-move-active,
.dessert-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 240px;
}

.dessert-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.dessert-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}



.fadein {
  transition: 2s linear all;
  -webkit-transition: 2s linear all;
  -moz-transition: 2s linear all;
  -o-transition: 2s linear all;
}



.fadein.ng-enter {
  opacity: 0;
}
.fadein.ng-enter.ng-enter-active {
  opacity: 1;
}

.fadein.ng-enter {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
}
